.rank-product-container{  
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.item-product{
    width:60%;
    max-width: 200px;
    height: 200px;  
    background-color: rgba(63, 63, 63, 0.781);
    border-radius: 20px;
    position: relative;
    flex-direction: column;
    flex: 1 0 100px;
    align-items: center;
    display: flex;
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.411);
    color: rgb(179, 179, 179);
}

.img-product{
    width: 55%;
    max-width: 75px;
    position: absolute;
    top: 5px;   
    filter: drop-shadow(0px 10px 15px #8a6604);
}

.type-product{
    font-weight: 500;
    font-size: 2.2vh;
    padding: .5vh;
}

.name-product{
    font-weight: 400;
    font-size: 1.8vh;
    padding: .5vh;
    text-align: center;
}

.price-product{
    font-weight: 200;
    font-size: 2vh;
    padding: .5vh;
}

.last-card{
    display:none;
}

@media only screen and (min-width: 1024px) {
    .last-card{
        display:flex;
        flex-direction: column;
    }

    .rank-product-container{  
        width: 100%;
        max-width: 800px;
        height: 36vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;    
        margin: 0;
        padding: 0;
        gap: 1rem;        
    }

}