@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,800&family=Mukta:wght@200;300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Oswald:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

:root{
    --bg-black-primary: #131418 ;
    --bg-black-primary-alpha: #1313138c ;
    --bg-black-secondary: #111216 ;

    --font-main-active: #ffffff ;
    --font-main-off: #9f9f9f ;

    --yellow-main-active: #FEC03F;
    --yellow-main-off : #a87a0a; 
    --yellow-secondary : #F77A17 ;

    --animation-default : all .2s ease-out;    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;  
    transition: var(--animation-default);  
}

html{
    box-sizing: border-box;
}

hr{
    border-color:var(--bg-black-secondary);   
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.contenedor-pricipal-inicio{
    width: 100%;
    max-width: 100%;
}

.app-main{
    background-color: rgb(7, 7, 7);
    position: relative;    
    width: 100%;
}

.app-container{
    width: 100%;
    height: 100vh;
}



/* Nav */

.app-nav{
    width: 70%;
    background-color: var(--bg-black-primary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;   
    z-index: 100;
    display: none;
    opacity: 1;    
    transition: .3s ease-in-out;  
}

.visible{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;     
    animation: aparecer .2s ease-in-out forwards;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.nav-logo{   
    display: none;
}

.nav-menu{ 
    width: 100%;    
    margin:0 auto;
    background-color: var(--bg-black-secondary);
    box-shadow: rgb(7, 7, 7) 0px 5px 15px;
    border-radius: 20px;     
    display: flex;
    flex-direction: column;    
    justify-content: space-around;    
}

.nav-title-main{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    color: var(--font-main-active);    
    background-color: var(--bg-black-primary);
    padding: 2rem 0;   
    font-weight: 400;    
}



.nav-menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;      
}

.options-nav-a{
    color: var(--font-main-off);
    font-size: 1rem;      
    display: block;
    padding: 1.7rem 0;     
    font-weight: 100;
}


.nav-li{
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;    
    transition: .3s ease-in-out;
    cursor: pointer;   
    background-color: var(--bg-black-primary);
}



.nav-li:hover{
    background-color: rgb(15, 15, 15);      
    color:var(--yellow-main-active);
}    

.nav-li:hover a{  
    color:var(--yellow-main-active);
    border-radius:20px;    
    background-color: rgb(15, 15, 15);
}    

.nav-li:hover .icon{  
    color:var(--font-main-active);
    background-color: rgb(15, 15, 15);     
}    

.icon{
    color: var(--font-main-off);
    background-color: rgb(15, 15, 15);
    transform: scale(1.5);
    margin-left: 2rem;
}

.icon-exit{
    color: white;
    transform: scale(1.7);   
}

.icon-exit:hover{
    color: white;
}

.btn-salir{
    background-color: var(--bg-black-primary);  
    color: white;   
    border:none;
    border-radius: .7rem;
    transition: var(--animation-default);
}


.btn-exit:hover .icon-exit{
    color: white;
}

.btn-exit{
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;   
}


/*APP CONTAINER*/

    .app-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        background-color: var(--font-main-off);
        background-image: url("../../assets/fondo_app.jpg");
        background-size: cover;
        border-radius: 20px;   
        margin: 0 auto;        
        overflow: hidden;
    }

    .opcion-container{
        width: 100%;
        background-color: var(--bg-black-primary);
        padding: 0 0 .7rem 0;        
    }

    .options{
        margin: 0 auto;
        width: 100%;
        max-width: 720px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--bg-black-primary) ;
        padding: .5rem;
    }

    .input{
        display: none;
    }

    .time-bar{
        color: var(--font-main-active);
        font-weight: 100;
        font-size: 14px;
        background-color: var(--bg-black-secondary);
        padding: .2rem .5rem;
        border-radius: 10px;
    }

    .options a{
        background-color: var(--bg-black-secondary);
        padding: .5rem 0;
        display: block;
        width: 25%;
        max-width: 150px;
        text-align: center;
        border-radius: 10px;
        color: var(--font-main-active);
        transition: var(--animation-default);
    }

    .options a:hover{
        background-color: var(--yellow-main-active);       
        color: var(--yellow-main-off);
    }


  
/* Publicacion del medio*/
  

    .views-flyers{       
        width:90%;
        height: 500px;
        max-width: 630px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        -webkit-box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
        -moz-box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
        box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
        background-color: var(--bg-black-primary-alpha);
    }

    .img_face{
        width: 93%;
        height: auto;
        position: absolute;
        right: 0;
        animation: encender 5s; 
    }

    /* Card Container */

    .rank-products{
        margin-top: 2rem;
        width: 100%;
        max-width: 630px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        border-radius: 20px;
   

        -webkit-box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
        -moz-box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
        box-shadow: 2px 2px 19px 4px rgba(36,22,0,1);
    }

    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;      
        border-radius: 10px;     
    }

    .product_card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .product_card img{
        width: 50%;
        position: relative;
        bottom: -.7rem;
    }

    .product_card h5{
        width: 100%;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
        color: var(--yellow-main-active);
        background-color: var(--bg-black-secondary);
        padding: 1rem 0;      
    }

    .product_card h6{
        width: 100%;
        text-align: center;
        font-size: 1rem;
        background-color: var(--bg-black-secondary);
        color: var(--yellow-main-active);
        padding-bottom: .5rem;
        font-weight: 200;
        border-radius: 0 0 10px 10px;
    }

    .nav-bottom{
        display: none;
    }


@media only screen and (min-width: 360px) {

    .app-nav{
        width: 68%;
        max-width: 300px;
    }
  }

@media only screen and (min-width: 480px) {
    .app-nav{
        width: 65%;
        max-width: 350px;
    }

    .img_face{
        width: 88%;       
    }

  }

  @media only screen and (min-width: 720px) {

    .app-nav{
        width: 45%;  
        max-width: 380px;                
    } 

    .img_face{
        width: 58%;
        height: auto;
        position: absolute;
        right: 0;    
    }

    
    .input{
        display: block;
        max-width: 150px;
        border-radius: 10px;
    }

    .options-nav-a{
        color: var(--font-main-off);
        font-size: 1.6rem;      
        display: block;
        padding: 1.5rem 0;     
    }

    .nav-title-main{
        width: 100%;
        text-align: center;        
        color: var(--font-main-active);    
        background-color: var(--bg-black-primary);  
        padding: 4rem 0;   
        font-weight: 400;    
    }

    .visible{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;     
        animation: aparecer .2s ease-in-out forwards;
    }

    .btn-exit{
        position: absolute;
        top:10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;   
    }
    
  }
  
  @media only screen and (min-width: 1024px) {

    .app-main{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .app-nav{
        opacity: 1;
        max-width: 230px;
        position: relative;
        display: flex; 
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
        background-color: rgb(15, 15, 15);  
    }  


    .nav-title-main{ 
        width: 80%;   
        text-align: center;        
        color: var(--font-main-off);    
        background-color: rgb(22, 22, 22); 
        border-radius: .5rem .5rem  0 0;
        padding: .7rem;
        background-color: rgb(15, 15, 15);
        font-weight: 400;     
    }

    .nav-menu{ 
        width: 90%;           
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
        background-color: rgb(15, 15, 15);  
        border-radius: .5rem;        
    }


    .nav-li{
        width: 100%;
        margin: 0 auto;   
        background-color: rgb(15, 15, 15);
        padding: .15rem 0; 
        border-bottom: rgb(32, 32, 32) 1px solid;  
    }

    
    .nav-li a{
      font-size: 1.1rem;
    }

    .nav-li:hover{
        background-color: rgb(15, 15, 15); 
        border-radius: 0px;        
    }    

    .ul-nav{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .nav-logo{
        display: block;
        width: 22%; 
        margin-top: 1rem;
        margin-bottom: 1rem;             
    }

    .options-nav-a{
        color: var(--font-main-off);
        background-color: rgb(15, 15, 15); 
        font-size: 1.3rem;      
        display: block;
        padding: 1rem 0;     
    }

    .btn-exit{
        display: none;
    }

    .nav-bottom h3,
    .nav-bottom h5{      
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 1rem;
        padding: 0;
    }

    .nav-bottom h5{
        font-weight: 200;
        color: #9f9f9f;
        font-size: 1rem;
    }
   
    .nav-bottom{
        width: 90%;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;        
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .6rem;       

    }
    
    .nav-bottom-uno{
        background-color: rgb(19, 19, 19);
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding: 1rem 0;
        border-radius: 20px;
        border: 3px solid var(--bg-black-secondary);
    }

    .nav-bottom-dos{
        background-color: rgb(0, 0, 0);
        width: 95%;
        padding: 1rem 0;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        position: relative;
    }

    .icon{
        color: var(--font-main-off);
        background-color: rgb(15, 15, 15);  ;
        transform: scale(1.5);
        margin-left: 2rem;
    }

  

    .icon-face{        
        color :white ;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,207,1) 50%, rgba(255,255,255,1) 100%);     
        border-radius: 20px;
        padding: .15rem;
        transform: scale(.85);
    }

    .icon-telegram{
        color :white ;
        background: rgb(58,116,180);
        background: linear-gradient(90deg, rgba(58,116,180,1) 0%, rgba(29,146,253,1) 50%, rgba(200,239,249,1) 100%);     
        border-radius: 20px;
        padding: .25rem;
        transform: rotate(-45deg) scale(.80);
       
    }

    .icon-whatsapp{
        color :white ;
        background: rgb(131,58,180);
        background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,207,1) 50%, rgba(255,255,255,1) 100%);         
        border-radius: 20px;
        padding: .15rem;
        transform: scale(.85);
    }

    .punto-icon{
        color: rgb(36, 190, 36);
        transform: scale(0.5);
        position: absolute;
        left: 30px;
        top: 8px;
    }

    

    .icons-container{
        display: flex;
        gap: .5rem;
        flex-direction: row;
    }
    
    .phone-icon{        
        border: 0.5px solid var(--bg-black-secondary);
        border-radius: 50%;
        padding: .1rem;
        color: gray;
        transform: scale(1.4);
    }

    .nav-bottom-dos h3{
        font-size: 1rem;
        font-weight: 200;
        text-align: start;
    }
  }




  @keyframes encender {
    from{
        filter: brightness(0);
    }
    to{
        filter: brightness(1);
    }
    
  }