@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,800&family=Mukta:wght@200;300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Oswald:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

:root{
    --bg-black-primary: #131313 ;
    --bg-black-primary-alpha: #1313138c ;
    --bg-black-secondary: #212121 ;

    --font-main-active: #ffffff ;
    --font-main-off: #9f9f9f ;

    --yellow-main-active: #fec844;
    --yellow-main-off : #a87a0a; 
    --yellow-secondary : #da7326 ;

    --animation-default : all .2s ease-out;    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Mukta', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;    
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    height: 100vh;
    background-image: url("../../assets/fondo_app.jpg");
}

h4{
    color: white;
}

.store-container{
    width: 100%;   
    background-image: url("../../assets/fondo_app.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container{
    width: 95%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-black-primary-alpha);
}
    .img-store{
        width: 60%;
        padding: 2rem;
        max-width: 300px;
    }

.product-container h2{
    text-align: center;
    font-size: 5rem;
}

.product-countent{
    width: 80%;    
    background-color: var(--bg-black-primary);
    display: grid;
    padding-top: .7rem ;
    gap: 1.5rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fit,minmax(13rem,1fr));
    position: relative;
}

.product{
    position: relative;
    max-width: 230px;
    height: 33vh;    
    grid-column: span 2;
    margin: 0 auto;
    border-radius: 20px;
    background-color: rgba(#c4c4c4b9);    
}

.info-producto{
    width: 100%;
    text-align: center;
    background: rgb(91,91,91);
    background: linear-gradient(180deg, rgba(91,91,91,0) 0%, rgba(189,123,0,1) 55%);
    padding-top: .8rem;
    opacity: 0;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;  
}

.img-producto{
    position: relative;    
    width: 60%;
    z-index: 100;
    transform: translateY(-40px);    
}


.info-producto h6{
    font-size: 1.8vh;
    color: white;
}

.info-producto p{
    padding-bottom: .8rem;
    color: white;
}


.product:hover .info-producto{
    opacity: 1;
}

.product:hover .img-producto{
    transform: translateY(-35px) scale(1.05);
}
