.discografia{
    width: 100%;
    background-color: rgb(10, 10, 10);
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.img-discografia{
    width: 70%;
    margin: 0 auto;
}

.discografia-container{
    margin: 0 auto;
    width: 90%;    
    background-image: url("../../assets/ult.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.discografia-principal{
    margin: 0 auto;
    width: 85%;     
    background-color: rgba(14, 14, 14, 0.884);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;   
}

.img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.album-content{
    width: 90%;
    margin: 0 auto;
}

.album-content img{
    border-radius: 20px;
}

.album-content h3{
    color: white;
    text-align: center;
}

.album-content h3 span{
 font-weight: 200;
 font-style: italic;
}

.calificacion{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.disc-container{
    display: flex;
    flex-flow:row wrap ;
    justify-content: flex-start;
    gap: 2rem 0;
    padding-bottom: 2rem;
}

.album-content{
    flex: 0 1 70%;
}

@media only screen and (min-width: 720px) {

    .album-content{
        flex: 0 1 40%;
    }
   
}


@media only screen and (min-width: 1024px) {

    .album-content{
        flex: 0 1 30%;
        padding: 1rem;
    }
   
}

@media only screen and (min-width: 1200px) {

    .album-content{
        flex: 0 1 14%;
    }

    .disc-container{
        padding: .5rem;
        gap: .5rem 3.5rem;
       
    }
}